WebContent/wsdl/CategoryService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://category.webService.CDStore.sleek.net" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://category.webService.CDStore.sleek.net" xmlns:intf="http://category.webService.CDStore.sleek.net" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://category.webService.CDStore.sleek.net" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getCategory">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCategoryResponse">
    <complexType>
     <sequence>
      <element name="getCategoryReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getProductInfo">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getProductInfoResponse">
    <complexType>
     <sequence>
      <element name="getProductInfoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCategoryList">
    <complexType/>
   </element>
   <element name="getCategoryListResponse">
    <complexType>
     <sequence>
      <element name="getCategoryListReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getProductList">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getProductListResponse">
    <complexType>
     <sequence>
      <element name="getProductListReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTrackList">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTrackListResponse">
    <complexType>
     <sequence>
      <element name="getTrackListReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getCategoryRequest">

      <wsdl:part element="impl:getCategory" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTrackListRequest">

      <wsdl:part element="impl:getTrackList" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getProductListResponse">

      <wsdl:part element="impl:getProductListResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getProductListRequest">

      <wsdl:part element="impl:getProductList" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getProductInfoRequest">

      <wsdl:part element="impl:getProductInfo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTrackListResponse">

      <wsdl:part element="impl:getTrackListResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getProductInfoResponse">

      <wsdl:part element="impl:getProductInfoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCategoryListRequest">

      <wsdl:part element="impl:getCategoryList" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCategoryResponse">

      <wsdl:part element="impl:getCategoryResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCategoryListResponse">

      <wsdl:part element="impl:getCategoryListResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CategoryService">

      <wsdl:operation name="getCategory">

         <wsdl:input message="impl:getCategoryRequest" name="getCategoryRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCategoryResponse" name="getCategoryResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getProductInfo">

         <wsdl:input message="impl:getProductInfoRequest" name="getProductInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:getProductInfoResponse" name="getProductInfoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCategoryList">

         <wsdl:input message="impl:getCategoryListRequest" name="getCategoryListRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCategoryListResponse" name="getCategoryListResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getProductList">

         <wsdl:input message="impl:getProductListRequest" name="getProductListRequest">

       </wsdl:input>

         <wsdl:output message="impl:getProductListResponse" name="getProductListResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTrackList">

         <wsdl:input message="impl:getTrackListRequest" name="getTrackListRequest">

       </wsdl:input>

         <wsdl:output message="impl:getTrackListResponse" name="getTrackListResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CategoryServiceSoapBinding" type="impl:CategoryService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getCategory">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCategoryRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCategoryResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getProductInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getProductInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getProductInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCategoryList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCategoryListRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCategoryListResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getProductList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getProductListRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getProductListResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTrackList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTrackListRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTrackListResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CategoryServiceService">

      <wsdl:port binding="impl:CategoryServiceSoapBinding" name="CategoryService">

         <wsdlsoap:address location="http://localhost:8080/Cdstore/services/CategoryService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
